body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4edac2;
}

.card {
    width: 22rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.178);
    background-color: #e9d7ee;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-image img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    object-position: bottom;
    mask-image: linear-gradient(black 70%, transparent);
}

.content {
    padding: 2rem;
    position: relative;
}

.content .profile-image {
    object-fit: cover;
    object-position: bottom;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 5px solid #e9d7ee;
    position: absolute;
    transform: rotate(180deg) translateX(50%) translateY(100%)
}


h2 {
    margin: 0.3rem 0 0.5rem;
    font-size: 2rem;
    color: #412152;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    margin: 0 0 1.6rem;
    font-size: 1rem;
    color: #654f69;
}

p {
    font-size: 1rem;
    color: #412152;
    margin-bottom: 1.5rem;
}

.social-icons li {
    display: inline-block;
    margin: 0;
}

.social-icons a {
    color: #ac7bd4;
    font-size: 1.5rem;
    margin: 1rem;
}

.social-icons a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff;
}